@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292D;
  --white: #fff;
  --purple: #5C62EC;

  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  /* Light mode  */
  --page-bg: var(--white);
  --text-color: var(--black);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);

  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
  /* Dark mode  */
  --page-bg: #252526;
  --text-color: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);

  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.5px;

  /* Color mode  */
  background-color: var(--page-bg);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* NAV */
.nav {
  background-color: var(--dark-bg);
  color: var(--white);
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  color: var(--header-text);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.2s ease-in;
}

.logo strong {
  font-weight: 700;
}

.logo:hover {
  color: var(--accent);
}

.logo:active {
  position: relative;
  top: 1px;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.nav-list__link {
  color: var(--header-text);
  position: relative;
}

.nav-list__link:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent);
}

/* DARK MODE BUTTON  */
.dark-mode-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;

  order: 9;

  background-color: #272727;
  border-radius: 50px;
}

.dark-mode-btn::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--white);

  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
}

/* HEADER */
.header {
  min-height: 695px;
  padding: 40px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url(./../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-color: var(--dark-bg);
  color: var(--header-text);
}

.header__wrapper {
  padding: 0 15px;
  max-width: 630px;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 40px;
}

.header__title p + p {
  margin-top: 1em;
}

/* BATTONS */
.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: var(--accent);
  color: white;
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: opasity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-outline {
  height: 48px;
  display: flex;
  column-gap: 10px;
  align-items: center;

  padding: 12px 20px;
  color: var(--black);
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: var(--white);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: opasity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.8;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}

/* PROJECTS */
.section {
  padding: 70px 0;
}

.title-1 {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
}

.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project:active {
  position: relative;
  top: 1px;
}

.project__img {
  border-radius: 10px;
}

.project__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--project-card-text);
  padding: 15px 20px 25px;
}

/* PROJECT DETAILS  */
.project-details {
  max-width: 865px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project-details__desc {
  color: var(--text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align: center;
}

/* CONTENT  */
.content {
  max-width: 571px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.title-3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  color: var(--text-color);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
}

.content__link {
  color: var(--text-color);
  transition: color 0.2s ease-in;
}

.content__link:hover {
  color: var(--purple);
}

/* FOOTER  */
.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color: var(--header-text);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 27px;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.copyright p + p {
  margin-top: 0.5em;
}

@media (max-width: 620px) {
  .nav-row {
    justify-content: space-between;
  }
  .dark-mode-btn {
    order: 0;
  }
  .header {
    min-height: unset;
  }
  .header__title {
    font-size: 30px;
  } 
  .header__title strong {
    font-size: 40px;
  }
  .section {
    padding: 40px 0;
  }
  .title-1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .title-2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .title-3 {
    font-size: 30px;
  }
  .project__title {
    font-size: 22px;
  }
  .project-details__desc {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .content {
    row-gap: 30px;
  }
  .content__list {
    row-gap: 10px;
  }
  .text {
    font-size: 16px;
  }

  .footer {
    padding: 40px 0 30px;
  }
  .social {
    column-gap: 20px;
    margin-bottom: 20px;
}
  .sosial__item {
    width: 28px;
  }
  
}
